﻿@model StudentRecordManagementSystem.Models.Student
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>
<div>
    <h4>STUDENT INFORMAION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Gender)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Age)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Percentage)
        </dt>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id">
        <input type="submit" value="Delete" class="btn-danger" />
        <a asp-action="Index">Back to list</a>
        </form>
</div>
