﻿@model StudentRecordManagementSystem.Models.Student
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Details</h2>

<div>
    <h4>STUDENT INFORMAION</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Gender)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Age)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Percentage)
        </dt>
    </dl>
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
    </div>