﻿@model IEnumerable<StudentRecordManagementSystem.Models.Student>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

@*To display Student Records.*@
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Percentage)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => student.Gender)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => student.Age)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => student.Percentage)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@student.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@student.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


